:root {
  font-family: inter-var, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji",
    "Segoe UI Symbol";
  text-decoration: none;
  font-size: 16px;
  color: black;
  line-height: 2em;
  font-weight: regular;
  --color-primary: #008aff;
  --color-success: #2bc194;
  --color-accent: #abbff6;
  --color-error: #f34b77;
  --color-info: #6679ea;
  --color-pale: #e3f0ff;
  --color-link: #0069c2;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400 !important;
}
h1 {
  margin: 1.5em 0 1em 0;
}
h2,
h3 {
  margin: 1.2em 0em 0.8em -0.2em;
  padding: 0.2em 0 0.2em 0.2em;
  background-color: var(--color-pale);
}

html,
body,
#__nuxt,
#__layout,
#__layout > div {
  width: 100%;
  height: 100%;
}

/* Set '@nuxtjs/toast' color */
.toasted-primary.success {
  background: var(--color-success) !important;
}

.toasted-primary.info {
  background-color: var(--color-pale) !important;
}

/* Set default form style */
.input-gray {
  font-weight: 400;
  width: 100%;
  height: 2em;
  outline: none;
  border: silver solid 0.04em;
  box-sizing: border-box;
  border-radius: 0.4em;
  display: block;
  background-color: whitesmoke;
  padding: 0 0.5em;
}
.input-gray::placeholder {
  color: silver;
}

.label-gray {
  font-size: 0.85em;
  text-align: bottom;
  display: inline-block;
  width: 100%;
  margin: 1em 0 0 0;
}

.label-gray-small {
  font-size: 0.8em;
  margin: 0 1em;
}

/* アイコンの高さをテキストと合わせる */
.icon-with-text {
  margin: 0.25em 0.15em -0.25em 0;
}
.icon-arrow {
  vertical-align: text-bottom;
}
.icon-kiwi {
  height: 4em;
  width: 4em;
  vertical-align: bottom;
  fill: var(--color-primary);
}
.icon-google-drive {
  display: border-box;
  height: 1.1em;
  width: 1.4em;
  color: white;
  background-color: var(--color-link);
  border: 0.05em var(--color-link) solid;

  border-radius: 0.2em;
  margin: 0.25em 0.25em -0.25em 0.1em;
}
.icon-google-drive:hover {
  background: var(--color-primary);
  border: 0.05em var(--color-primary) solid;
}

.title-kuwiki {
  font-weight: 300;
  font-size: 1.4em;
}

/* ボタン1 白地に青文字 */
.button-white {
  height: 2em;
  display: inline-block;
  box-sizing: border-box;
  text-decoration: none;
  background: white;
  border: var(--color-primary) solid 0.1em;
  border-radius: 2em;
  text-align: center;
  color: var(--color-primary);
  padding: 0 2em;
}

.button-white:hover {
  background: var(--color-primary);
  color: white;
  border: var(--color-primary) solid 0.1em;
}

/* ボタン2 青地に白文字 */
.button-submit {
  display: border-box;
  height: 2em;
  border-radius: 0.4em;
  border: none;
  background-color: var(--color-primary);
  color: white;
  margin: 1em 0;
  width: 100%;
}

form:invalid .button-submit {
  cursor: not-allowed;
  border: none;
  outline: none;
  background-color: lightgray;
}

/* 中黒なしリスト */
.ul-none {
  list-style: none;
  padding: 0;
}

ul {
  padding: 0 0 0 2em;
}

/* アンダーライン付きリンク */
.link-underline,
a {
  color: #0069c2;
  text-decoration: underline solid;
  white-space: nowrap;
}

.link-underline:hover,
a:hover {
  color: #0069c2;
  text-decoration: none;
}
